src/__pycache__
recordings
security-camera/src/__pycache__
.idea
security-camera/tmp/tmp.ico
security-camera/tmp/tmp.jpg
security-camera/logs/*.log
/security-camera/data/stats.sqlite
security-camera/tests/__pycache__
venv
.vscode
